* {
  box-sizing: border-box;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 30px;
}
p {
  font-size: 18px;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  align-items: center;
}
body {
  margin: 0 5%;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 20px;

  font-weight: bold;
  font-size: 21px;
  border-radius: 10%;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: rgb(251, 230, 176);
  transition: 0.5s;
}

img {
  width: 280px;
  height: auto;
}
.pic {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

h2 {
  margin-top: 100px;
}
h1 {
  font-size: 40px;
}

footer {
  text-align: center;
  margin-bottom: 100px;
}

.middle {
  display: none;
}
.mee {
  font-size: 26px;
}
img {
  border-radius: 10px;
}
.text {
  background-color: rgba(255, 237, 198, 0.435);
  margin-bottom: 70px;
}
.home {
  background-color: rgb(255, 237, 145);
}

.faq {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq h3 {
  font-size: 24px;
  margin: 0 0 20px;
  cursor: pointer;
}

.faq-content {
  display: none;
}

.faq.show .faq-content {
  display: block;
}

.faq p {
  margin: 0;
  margin-bottom: 10px;
}

.text,
.faq {
  padding: 20px;
}
@media screen and (max-width: 750px) {
  .one,
  .two {
    display: none;
  }
  .pic {
    justify-content: center;
  }

  .nav {
    flex-direction: column;
    margin-bottom: 0;
  }
  h1 {
    text-decoration: underline;
  }
  ul li {
    display: block;
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  .container {
    display: block;
  }
  .faq {
    margin-top: 80px;
  }
  .middle {
    display: block;
    margin: 4%;
    width: 400px;
  }
  img {
    height: auto;
    width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .one {
    display: none;
  }
}

@media screen and (max-width: 1350px) {
  .four {
    display: none;
  }
}
